.clock-wrapper{
  background:blue;
  display: flex;
  justify-content: space-around;
}

.clock-center{
  border-radius: 50%;
  z-index: 20;
  background: #000;
  height: 8%;
  left: 46%;
  position: absolute;
  top: 46%;
  width: 8%;
}

.clock {
    border-radius: 50%;
    background: #fff url(../../assets/images/ios_clock.svg) no-repeat center;
    height: 200px;
    position: relative;
    width: 200px;
    margin:5px;
    border: 11px solid white;
  }

  .minutes-container, .hours-container, .seconds-container, .clock-center-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .hours {
    background: #000;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
  }

  .minutes {
    background: #000;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
  }

  .seconds {
    background: #000;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
  }

  .time-inputs{
    display: flex;
    flex-direction: column;
  }