<div class='header-title'>
  <h1 *ngIf="exactTime">Exact time</h1>
  <h1 *ngIf="!exactTime">Set time</h1>
</div>

<div class='clock-wrapper'>
  <div class="clock">
    <div class="clock-center-container">
      <div class='clock-center'></div>
    </div>
    <div class="hours-container" [ngStyle]="{'transform':timeAngles.hoursAngle}">
      <div class="hours"></div>
    </div>
    <div class="minutes-container" [ngStyle]="{'transform':timeAngles.minutesAngle}">
      <div class="minutes"></div>
    </div>
    <div class="seconds-container" [ngStyle]="{'transform':timeAngles.secondsAngle}">
      <div class="seconds"></div>
    </div>
  </div>
</div>

<div *ngIf="exactTime">
  <button (click)='buttonClicked()'>Start clock</button>
  <button (click)='buttonStopClicked()'>Stop clock</button>
</div>

<div *ngIf="!exactTime">
  <div class='time-inputs'>
    Hours:
    <input name='Hours' [(ngModel)]="timeSet.hoursSet" /> Minutes:
    <input name='Minutes' [(ngModel)]="timeSet.minutesSet" /> Seconds:
    <input name='Seconds' [(ngModel)]="timeSet.secondsSet" />
  </div>
  <button (click)='setClock()'>Set clock</button>
  <button (click)='resetClock()'>Reset clock</button>
</div>